<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<directoryBrowse enabled="false" />
        <rewrite>
            <rules>
				<!-- 允许指定IP访问后台 -->
				<rule name="cms_allow" stopProcessing="true">
				<match url="." />
					<conditions>
						<add input="{URL}" pattern="^/cms/(.*)$" />
						<add input="{REMOTE_ADDR}" pattern="10.230.*.*" negate="true" />
					</conditions>
					<action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Page is unavailable" statusDescription="You do not have access to this page." />
				</rule>
				<rule name="encms_allow" stopProcessing="true">
				<match url="." />
					<conditions>
						<add input="{URL}" pattern="^/encms/(.*)$" />
						<add input="{REMOTE_ADDR}" pattern="10.230.*.*" negate="true" />
					</conditions>
					<action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Page is unavailable" statusDescription="You do not have access to this page." />
				</rule>
                <rule name="huayu" stopProcessing="true">
                    <match url="." ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
